@{Layout = null;}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 用户中心</title>
    @Styles.Render("~/Areas/Member/Content/member.css", "~/Areas/Member/Content/easyui.css", "~/Areas/Member/Content/icon.css", "~/Areas/Member/Content/bootstrap.css")
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        //添加tab标签
        function addTab(title, herf, icons) {
            var _tabs = $("#mainTabs");
            if (_tabs.tabs('exists', title)) {
                _tabs.tabs('select', title)
            }
            else {
                _tabs.tabs('add', {
                    title: title,
                    closable: true,
                    content: '<iframe frameborder="0"  src="' + herf + '" style="width:100%;height:99%;"></iframe>',
                    iconCls: icons || 'icon-default'
                });
            }
        }
        //修改当前tab中iframe的链接
        function SetCurrentTabUrl(url) {
            var curtab = $('#mainTabs').tabs('getSelected');
            if (curtab && curtab.find("iframe").length > 0) {
                var ifream = curtab.find("iframe")[0];
                ifream.contentWindow.location.href = url;
            }
        }
        //初始化
        $(document).ready(function () {
            $("#mainTabs").tabs({
                fit: true,
                border: false
            })
        })
    </script>
</head>
<body id="layout" class="easyui-layout">
    <div data-options="region:'north'" style="height:50px">
        <header style="height:20px;"></header>
        <nav id="mainNav" style="text-align:right">
            欢迎 <a href="javascript:void()">  @User.Identity.Name </a>
            <a href="@Url.Action("Logout","User")">注  销</a>
        </nav>

    </div>
    <div data-options="region:'west',split:true" title="导航" style="width: 200px;">
        @Html.Action("Menu")
    </div>
    <div data-options="region:'center'" style="overflow: hidden;">
        <div id="mainTabs">
            <div data-options="iconCls:'icon-house'" title="首页">
                欢迎使用
            </div>
        </div>
    </div>
    <div data-options="region:'south'" style="height:50px;">
        MyNenesky 
    </div>
</body>
</html>